
        /*body font style*/
        @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
        @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

        body {
            margin: 0;
            padding: 0;
        }

        .judul {
            font-family: "Lobster", cursive;
        }

        /*navbar style*/
        nav {
            background-color: rgb(255, 255, 255);
            box-shadow: 10px 24px 32px -8px rgba(108, 108, 108, 0.298);
            position: relative;
            top: 0;
        }

        .navkonten {
            padding: 5px 75px 5px 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navkonten a {
            text-decoration: none;
            color: rgb(130, 130, 130);
            font-size: 15px;
            font-weight: 300;
        }

        .navkonten a:hover {
            color: rgb(32, 32, 32);
            text-decoration: underline;
        }

        .navkonten li {
            list-style-type: none;
            float: left;
            margin-left: 80px;
            font-family: "Roboto", sans-serif;
        }

        /*end of navbar style*/

        /*main header*/
        .mainheader {
            width: 100%;
            height: 600px;
            background-image: url(img/bg.png);
            display: flex;
        }

        .headerjudul {
            line-height: 40px;
            padding-left: 75px;
            padding-top: 80px;
        }

        .deskripsi .hello {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px;
        }

        .h1 {
            font-size: 50px;
        }

        .deskripsi .karir {
            font-family: "Roboto", sans-serif;
            color: rgb(18, 18, 18);
            font-weight: 300;
            font-size: 28px;
        }

        .button {
            margin-top: 10px;
        }

        .button button {
            border-radius: 8px;
            padding: 10px 32px 10px 32px;
            background-color: white;
            border: 1px solid #11161a;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            margin-right: 10px;
        }

        .button a {
            border-radius: 8px;
            background-color: black;
            border: 1px solid rgb(0, 0, 0);
            color: white;
            margin-right: -5px;
            padding: 10px 32px 10px 32px;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 300;
        }

        .gambarprofile img {
            margin-top: 10px;
            margin-left: 230px;
        }

        /*End of style main header*/

        /*Skills*/

        .skills {
            margin-top: -200px;
            padding-right: 75px;
            padding-bottom: 5px;
            padding-left: 100px;

        }

        .skills h1 {
            font-family: "Roboto", sans-serif;
            color: rgb(30, 30, 30);
        }

        .skills p {
            font-family: "Roboto", sans-serif;
            color: rgb(30, 30, 30);
        }

        .skills .desc {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: grey;
            font-size: 15px;
            width: 600px;
        }

        /*End of style Skills*/

        /*About me*/
        .aboutme {
            display: flex;
            padding: 25px 30px 10px 150px;
            background-color: rgb(255, 255, 255);
            margin: 50px;
            position: relative;
            top: -190px;
            box-shadow: 10px 12px 32px -8px rgba(166, 166, 166, 0.38);
            border-radius: 10px;
            border: 1px solid rgb(217, 217, 217);
        }

        .aboutme h1 {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            margin-top: -10px;
        }

        .aboutme p {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: grey;
        }

        .description {
            margin: 20px;
        }

        /*End of about me*/

        /*Service/s*/
        .services {
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            margin: auto;
            height: 300px;
        }

        .nomorservices {
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            font-size: 30px;
            background-color: grey;
            padding: 5px;
            text-align: center;
            margin: auto;
        }

        .service_ {
            margin: 10px;
            text-align: center;
            width: 250px;
            padding: 20px;
            border-radius: 5px;
        }

        .service_ h2 {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            color: white;
            font-size: 30px;
        }

        .service_ p {
            font-family: "Roboto", sans-serif;
            font-weight: 200;
            color: white;
        }

        .service_bg1 {
            background-image: url(img/services-1.png);
        }

        .service_bg2 {
            background-image: url(img/services-2.png);
        }

        .service_bg3 {
            background-image: url(img/servies-3.png);
        }

        /*End fo service/s*/


        /*Lastings*/
        .last {
            background-color: #11161a;
            padding: 50px;
            margin-top: 5%;
        }

        .last h1 {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            color: white;
            font-size: 40px;
        }

        .last hr {
            border: 1.2px solid white;
            width: 400px;
        }

        /*End of Lastings*/

        /*Footer*/
        footer {
            font-family: "Roboto", sans-serif;
            text-align: center;
            padding: 40px;
        }

        footer p {
            color: grey;
        }

        /*End of footer*/

        /*bulettan*/
        .buletan div {
            width: 40px;
            height: 40px;
            background-color: gray;
            border-radius: 100%;
            margin: 10px;
        }

        .buletan {
            display: flex;
            justify-content: center;
        }
        /*end of bulettan*/